@import 'src/styles/variables';
@import 'src/styles/mixins';

.button {
  @include button-base;
  
  &.primary {
    @include button-primary;
  }
  
  &.secondary {
    background-color: $white;
    color: $primary;
    border: 1px solid rgba($primary, 0.2);
    
    &:hover:not(:disabled) {
      border-color: rgba($primary, 0.4);
    }
  }
}